* {
    margin: 0px auto;
    padding: 0px;
}

.wrapper { 
    height: 800px;
    width: 1089px;
    background-color: antiquewhite;
}

header {
    position: relative;
}

header img{
    width: 100%;
    height: 150px;
}

header h1 {
    position: absolute;
    top: 20px;
    left: 200px; 
}

header h2 {
    position: absolute;
    top: 60px;
    left: 350px;
    color: rgb(74, 121, 88);
    text-shadow:  blue -10px 5px 0px;  
}

nav {
    position: relative;
}

.menu li {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: rgb(6, 90, 132);
    list-style-type: none;
    border-radius: 0px 20px 0px 20px;
    border: 3px solid black;
}

.menu li:nth-child(5) {
    top: 30px;
    right: 50px;
    text-indent: 20px;
}

.menu li:nth-child(4) {
    top: 30px;
    right: 210px;
    line-height: 50px;
    text-indent: 50px;
}

.menu li:nth-child(3) {
    top: 30px;
    right: 370px;
    line-height: 50px;
    text-indent: 50px;
}

.menu li:nth-child(2) {
    top: 30px;
    right: 530px;
    line-height: 50px;
    text-indent: 50px;
}

.menu li:nth-child(1) {
    top: 60px;
    right: 700px;
    line-height: 50px;
    transform: rotate(-20deg);
    text-indent: 50px;
}

.menu li:hover {
    background-color: yellow;
}

li a {
    font-weight: bolder;
    color: black;
}

form #txtEmail {
    width: 50px;
}

