body {
    font-family:'Times New Roman', Times, serif;
}

/* Style box */
.box {
    width: 989px;
    height: 850px;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid black;
}
/* Style header */
.header {
    width: 989px;
    height: 100px;
    border-bottom: 1px solid black;
    text-align: center;
}
/* Style navigation bar */
.navbar {
    width: 989px;
    height: 50px;
    border-bottom: 1px solid black;
    text-align: center;
}
/* Style content */
.content {
    width: 989px;
    height: 500px;
    border-bottom: 1px solid black;
    float: left;
}

.content .asize {
    width: 30%;
    height: 500px;
    border-right: 1px solid black;
    float: left;
    text-align: center;
}

.content .section {
    width: 690px;
    height: 500px;
    float: left;
}

.content .section1 {
    width: 344px;
    height: 500px;
    float: left;
    border-right: 1px solid black;
    text-align: center;
}

.content .section2 {
    width: 344px;
    height: 500px;
    float: left;
    text-align: center;
}
/* Style footer */
.footer {
    width: 989px;
    height: 165px;
    float: left;
    text-align: center;
}